@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <img src="https://nileshbstorageacc.blob.core.windows.net/projectcontainer1/IndiaGate.jpg?sp=r&st=2023-05-24T07:44:24Z&se=2023-05-24T15:44:24Z&spr=https&sv=2022-11-02&sr=b&sig=VxI2a3K2bj7Zfr0Q5Ka1wY6eAeJSbf2rIT1K3TnR%2FXU%3D" style="width:250px;height:250px"/>
</div>
